In [150]:
# Imports 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from openpyxl import load_workbook
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl.styles import NamedStyle
import mariadb
import uuid
import json
import random

In [151]:
data = pd.read_excel('RESOURCES.xlsx')
data2 = pd.read_excel('SITES.xlsx')
dataMerged = merged_df = pd.merge(data, data2, on="Site Name", how="left", suffixes=("_RESOURCES", "_SITES"))
dataMerged["email"] = dataMerged["Site Name"].str.replace(" ", "").str.lower() + "@voorbeeld.nl"
dataMerged["Unit of Measure"] = dataMerged["Unit of Measure"].str.replace(" ", "")
dataMerged["Unit of Measure"] = dataMerged["Unit of Measure"].str.replace("Money(€)", "MoneyEUR")

dataMerged["Unit of Measure"].unique()

array(['Number', 'Hectares', 'Hours', 'Tonnes', 'Kilograms', 'Litres',
       'CubicMetres', 'SquareMetres', 'MW', 'KWh', 'MoneyEUR'],
      dtype=object)

## INSERT LOCATIONS

In [152]:
# Filtering out unneeded columns
# location = dataMerged[["Street and Number_SITES", "Postal Code_SITES", "Latitude", "Longitude", "Site Name", "City_SITES"]]
dataMerged['Location_Id'] = [str(uuid.uuid4()) for _ in range(len(dataMerged))]
dataMerged = dataMerged.rename(columns={"Street and Number_SITES": "Address"})

# Display the filtered DataFrame
print(dataMerged)

# Database connection details
db_config = {
    "user": "root",
    "password": "None58-DB",
    "host": "localhost",
    "port": 3306,
    "database": "SymbioDb"
}

# Connect to MariaDB
try:
    conn = mariadb.connect(**db_config)
    cursor = conn.cursor()

    # SQL query for inserting data
    insert_query = """
    INSERT INTO locations (Id, Address, PostalCode, Latitude, Longitude, City, Country)
    VALUES (?, ?, ?, ?, ?, ?, ?)
    """

    # Iterate through each row in the DataFrame
    for _, row in dataMerged.iterrows():

        # Execute the query with values
        cursor.execute(insert_query, (
            row["Location_Id"],
            row["Address"],
            row["Postal Code_SITES"],
            row["Latitude"],
            row["Longitude"],
            row["City_SITES"],
            'Netherlands'
        ))

    # Commit the transaction
    conn.commit()
    print(f"{cursor.rowcount} rows inserted successfully.")

except mariadb.Error as e:
    print(f"Error: {e}")

finally:
    # Close the connection
    if conn:
        cursor.close()
        conn.close()

                           Resource Name  \
0     1x vrije vrachtwagen met chauffeur
1     1x vrije vrachtwagen met chauffeur
2                         3 ha zandgrond
3               3D Metaalprintcapaciteit
4               3D Metaalprintcapaciteit
...                                  ...
1555                          zoet water
1556               zonne- en windenergie
1557                       Zonne-energie
1558                       Zonne-energie
1559               zout, natriumchloride

                                  Description_RESOURCES  \
0     Een vrije vrachtwagen, incl. chauffeur, voor t...
1     Een vrije vrachtwagen, incl. chauffeur, voor t...
2        3 ha zandgrond landbouw kwaliteit in Strijbeek
3     3D Metaalprintcapaciteit, volume 250x250X300mm...
4     3D Metaalprintcapaciteit, volume 250x250X300mm...
...                                                 ...
1555                            zoet water voor koeling
1556              Electriciteit van zon, continue in NL
1557  Stroom van +-5000 zonnepanelen\nover bij zon\n...
1558            1200 m2 panelen, over in piekuren zomer
1559  natriumchloride in waterige oplossing, maar ka...

                                              Site Name SIC Code  \
0             NOVO Packaging - Stampersgat - Production    46.49
1                       Pondres - Tilburg - Head office    18.12
2     Werkplaats de Gruyter - ’s-Hertogenbosch - Hea...    70.22
3             Renishaw Benelux BV - Breda - Head office    26.60
4                                Tata Steel NL Tubes BV    24.10
...                                                 ...      ...
1555   Evides Industriewater - Middelburg - Head office    36.00
1556                                Atlas Power and Gas    35.12
1557                                          Bredabest    10.8
1558                                               ZLTO    01.61
1559                      DOW - Terneuzen - Head office    20.51

                                        SIC Description  \
0     Groothandel in overige consumentenartikelen (n...
1                                   Overige drukkerijen
2     Advisering op het gebied van management en bed...
3     Vervaardiging van bestralingsapparatuur en van...
4     Vervaardiging van ijzer en staal en van ferrol...
...                                                 ...
1555                   Winning en distributie van water
1556  Beheer en exploitatie van transportnetten voor...
1557         Vervaardiging van overige voedingsmiddelen
1558     Dienstverlening voor de akker- en/of tuinbouw
1559  Vervaardiging van kruit en springstoffen en va...

     Street and Number_RESOURCES Address 2_RESOURCES  Address 3_RESOURCES  \
0          Dennis Leestraat 107A                 NaN                  NaN
1              Kraaivenstraat 19                 NaN                  NaN
2                 Veemarktkade 8                 NaN                  NaN
3                 Nikkelstraat 3                 NaN                  NaN
4             Souvereinstraat 35                 NaN                  NaN
...                          ...                 ...                  ...
1555                 Kanaalweg 1                 NaN                  NaN
1556              Ceresstraat 13                 NaN                  NaN
1557                  Elftweg 27                 NaN                  NaN
1558     Onderwijsboulevard 225                  NaN                  NaN
1559         Herbert H. Dowweg 5                 NaN                  NaN

      Address 4_RESOURCES Postal Code_RESOURCES  ... Solution Provider SME?  \
0                     NaN               4754 BC  ...                No   No
1                     NaN               5048 AB  ...                No   No
2                     NaN               5222 AE  ...                No   No
3                     NaN               4823 AE  ...                No   No
4                     NaN               4903 RH  ...                No   No
...                   ...                   ...  ...               ...  ...
1555                  NaN               4337 PA  ...                No   No
1556                  NaN               4811 CA  ...                No   No
1557                  NaN               4941 VR  ...                No   No
1558                  NaN               5223 DE  ...                No   No
1559                  NaN               4542 NM  ...                No   No

     Waste Processor? Association Type  \
0                  No             Site
1                  No      Head Office
2                  No      Head Office
3                  No      Head Office
4                  No      Head Office
...               ...              ...
1555               No      Head Office
1556               No      Head Office
1557               No      Head Office
1558               No      Head Office
1559               No      Head Office

                                   Owning Site Name  Employee Count  Turnover  \
0     Novo Packaging & Warehousing BV - Head Office               0         0
1                                               NaN               0         0
2                                               NaN               0         0
3                                               NaN               0         0
4                                               NaN               0         0
...                                             ...             ...       ...
1555                                            NaN               0         0
1556                                            NaN               0         0
1557                                            NaN               0         0
1558                                            NaN               0         0
1559                                            NaN               0         0

                  Created On  \
0    2019-06-12 16:41:54.067
1    2019-11-05 09:21:21.833
2    2018-10-08 16:05:16.313
3    2018-10-08 16:05:16.313
4    2018-10-08 16:05:16.313
...                      ...
1555 2018-11-20 11:07:22.017
1556 2023-07-18 11:50:43.320
1557 2023-07-18 09:59:35.753
1558 2023-07-20 11:15:08.480
1559 2018-11-20 11:07:22.017

                                                  email  \
0     novopackaging-stampersgat-production@voorbeeld.nl
1               pondres-tilburg-headoffice@voorbeeld.nl
2     werkplaatsdegruyter-’s-hertogenbosch-headoffic...
3       renishawbeneluxbv-breda-headoffice@voorbeeld.nl
4                       tatasteelnltubesbv@voorbeeld.nl
...                                                 ...
1555  evidesindustriewater-middelburg-headoffice@voo...
1556                      atlaspowerandgas@voorbeeld.nl
1557                             bredabest@voorbeeld.nl
1558                                  zlto@voorbeeld.nl
1559              dow-terneuzen-headoffice@voorbeeld.nl

                               Location_Id
0     c945539e-cc6e-4081-a54c-77fea2463ad4
1     a24474d3-29e7-4fce-9bad-e1a8e0fed557
2     b15a1065-8b90-44ee-ae9c-04d58f8a6b62
3     cb93be24-b858-4f81-9cea-37f1575be0f6
4     042e89f2-db5c-4d33-b8d2-b803e2928a8b
...                                    ...
1555  893334a0-2327-4705-abda-d7825d6f79d2
1556  2d315b42-57d7-434f-968d-0401a6563f91
1557  5e6d0f12-e9d5-4e81-a852-eb23e5ad9be1
1558  330c6c02-3d48-4a93-ba0f-9444d5c2e547
1559  eb2a483d-8417-4656-bc23-ece8818ae371

[1560 rows x 61 columns]
0 rows inserted successfully.

## INSERT COMPANIES

In [153]:
dataMerged['Company_Id'] = [str(uuid.uuid4()) for _ in range(len(dataMerged))]
dataMerged['Description_SITES'] = dataMerged['Description_SITES'].fillna("No Description")
# companies = dataMerged[['Company_Id', 'Site Name', 'Description_SITES', 'NACE Code', 'email', 'Location_Id']]


# nan_locations = companies.isna()

# # Display the DataFrame showing True where values are NaN
# print("Locations of NaN values:")
# print(nan_locations)

# # To get a summary of columns with NaN values
# nan_summary = companies.isna().sum()
# print("\nSummary of NaN values per column:")
# print(nan_summary)

# Connect to MariaDB
try:
    conn = mariadb.connect(**db_config)
    cursor = conn.cursor()

    # SQL query for inserting data
    insert_query = """
    INSERT INTO companies (Id, Name, Description, NaceCode, Email, Phonenumber, LocationId, BundleId)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?)
    """

    # Iterate through each row in the DataFrame
    for _, row in dataMerged.iterrows():

        # Execute the query with values
        cursor.execute(insert_query, (
            row["Company_Id"],
            row["Site Name"],
            row["Description_SITES"],
            row["NACE Code"],
            row["email"],
            "0612345678",
            row["Location_Id"],
            None
        ))

    # Commit the transaction
    conn.commit()
    print(f"{cursor.rowcount} rows inserted successfully.")

except mariadb.Error as e:
    print(f"Error: {e}")

finally:
    # Close the connection
    if conn:
        cursor.close()
        conn.close()

0 rows inserted successfully.

## INSERT Products

In [154]:
dataMerged[["Category 1", "Category 2", "Category 3"]] = dataMerged[["Category 1", "Category 2", "Category 3"]].replace({"": "Unkwnown", None: "Unkwnown", " ": "Unkwnown"})
dataMerged["Category 1"] = dataMerged["Category 1"].str.replace(r"^\d+\s+", "", regex=True)
dataMerged["Category 2"] = dataMerged["Category 2"].str.replace(r"^\d+\s+\d+\s+", "", regex=True)
dataMerged["Category 3"] = dataMerged["Category 3"].str.replace(r"^\d+\s+\d+\s+\d+\s+", "", regex=True)

dataMerged['Product_Id'] = [str(uuid.uuid4()) for _ in range(len(dataMerged))]
dataMerged["Valid From"] = pd.to_datetime(dataMerged["Valid From"]).dt.strftime("%Y-%m-%d")
dataMerged["Valid To"] = pd.to_datetime(dataMerged["Valid To"]).dt.strftime("%Y-%m-%d")
dataMerged["Create Date"] = pd.to_datetime(dataMerged["Create Date"]).dt.strftime("%Y-%m-%d")
dataMerged['Description_RESOURCES'] = dataMerged['Description_RESOURCES'].fillna("No Description")
dataMerged["CategoryList"] = dataMerged[["Category 1", "Category 2", "Category 3"]].apply(lambda row: list(row), axis=1)
dataMerged["CategoryList"] = dataMerged["CategoryList"].apply(json.dumps)
dataMergedHave = dataMerged[dataMerged["Resource Type"] == "Have"]
# Connect to MariaDB
try:
    conn = mariadb.connect(**db_config)
    cursor = conn.cursor()

    # SQL query for inserting data
    insert_query = """
    INSERT INTO products (Id, Name, Description, SupplyType, Categories, ValidFrom, ValidTo, CreatedOn, CompanyId, BundleId, IsBundled, BundlingAllowed)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """

    # Iterate through each row in the DataFrame
    for _, row in dataMergedHave.iterrows():

        # Execute the query with values
        cursor.execute(insert_query, (
            row["Product_Id"],
            row["Resource Name"],
            row["Description_RESOURCES"],
            row["Supply Type"],
            row["CategoryList"],
            row["Valid From"],
            row["Valid To"],
            row["Create Date"],
            row["Company_Id"],
            None,
            False,
            True



        ))

    # Commit the transaction
    conn.commit()
    print(f"{cursor.rowcount} rows inserted successfully.")

except mariadb.Error as e:
    print(f"Error: {e}")

finally:
    # Close the connection
    if conn:
        cursor.close()
        conn.close()

0 rows inserted successfully.

## INSERT MATERIALS

In [155]:
dataMergedHave['Material_Id'] = [str(uuid.uuid4()) for _ in range(len(dataMergedHave))]

# Connect to MariaDB
try:
    conn = mariadb.connect(**db_config)
    cursor = conn.cursor()

    # SQL query for inserting data
    insert_query = """
    INSERT INTO materials (Id, Name, Description, AvailableQuantity, UnitOfMeasure, ProductId)
    VALUES (?, ?, ?, ?, ?, ?)
    """

    # Iterate through each row in the DataFrame
    for _, row in dataMergedHave.iterrows():

        # Execute the query with values
        cursor.execute(insert_query, (
            row["Material_Id"],
            row["Resource Name"],
            row["Description_RESOURCES"],
            row["Available Quantity"],
            row["Unit of Measure"],
            row["Product_Id"],
        ))

    # Commit the transaction
    conn.commit()
    print(f"{cursor.rowcount} rows inserted successfully.")

except mariadb.Error as e:
    print(f"Error: {e}")

finally:
    # Close the connection
    if conn:
        cursor.close()
        conn.close()

0 rows inserted successfully.

C:\Users\bende\AppData\Local\Temp\ipykernel_63880\3161010882.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataMergedHave['Material_Id'] = [str(uuid.uuid4()) for _ in range(len(dataMergedHave))]

## Insert Preferences

In [156]:

# Check if 'user_Id' column exists in the DataFrame
if "user_Id" not in dataMerged.columns:
    try:
        # Connect to MariaDB
        conn = mariadb.connect(**db_config)
        cursor = conn.cursor()

        # Query to retrieve Id and email from aspnetusers
        query = "SELECT Id, email FROM aspnetusers"
        cursor.execute(query)

        # Fetch results and create a DataFrame
        aspnetusers_data = cursor.fetchall()
        aspnetusers_df = pd.DataFrame(aspnetusers_data, columns=["user_Id", "email"])


        # Merge aspnetusers DataFrame with dataMerged on the email column
        dataMerged = pd.merge(aspnetusers_df, dataMerged, on="email", how="left")

        print("user_Id column added successfully.")
    except mariadb.Error as e:
        print(f"Error: {e}")

    finally:
        if conn:
            cursor.close()
            conn.close()
else:
    print("The 'user_Id' column already exists in the DataFrame.")

    
dataMerged["Keywords"] = dataMerged["Keywords"].fillna("")
dataMergedWant = dataMerged[dataMerged["Resource Type"] == "Want"]


random.seed(42)

dataMergedWant["CategoryList2"] = dataMerged[["Category 1", "Category 2", "Category 3"]].apply(lambda row: list(row), axis=1)
# dataMerged["CategoryList"] = dataMerged["CategoryList"].apply(json.dumps)


# Group by 'user_Id' and apply aggregation
grouped = dataMergedWant.groupby("user_Id").agg({
    "CategoryList2": lambda x: ", ".join(set(item for sublist in x for item in sublist)),  # Flatten and deduplicate, then CSV
    "Keywords": lambda x: ", ".join(set(x)),  # Flatten and deduplicate, then CSV
    "Unit of Measure": lambda x: ", ".join(set(x)),  # Flatten and deduplicate, then CSV
    "Supply Type": lambda x: ", ".join(set(x)),  # Deduplicate and convert to CSV
    "Available Quantity": ["min", "max"],  # Minimum and maximum quantity
    "Valid From": "min",  # Smallest date value
    "Valid To": "max",  # Largest date value
    "Site Name": "first",  # Use the first occurrence of the Site Name
}).reset_index()

# Flatten column names for "Available Quantity"
grouped.columns = ["_".join(col).strip("_") if isinstance(col, tuple) else col for col in grouped.columns]

# Rename columns for clarity
grouped.rename(columns={
    "Available Quantity_min": "Minimum Quantity",
    "Available Quantity_max": "Maximum Quantity",
    "Supply Type_<lambda>": "Supply Type",
    "Keywords_<lambda>": "Keywords",
    "CategoryList2_<lambda>": "CategoryList",
    "Valid From_min": "Valid From",
    "Valid To_max": "Valid To",
    "Site Name_first" : "Site Name",
    "Unit of Measure_<lambda>" : "Unit of Measure"

}, inplace=True)

grouped['Preference_Id'] = [str(uuid.uuid4()) for _ in range(len(grouped))]



# Sort by site name to ensure same value for max distance is given 
random.seed(42)
grouped = grouped.sort_values(by="Site Name")

grouped.head()

# Connect to MariaDB
try:
    conn = mariadb.connect(**db_config)
    cursor = conn.cursor()

    # SQL query for inserting data
    insert_query = """
    INSERT INTO userpreferences (Id, PreferredCategories, PreferredKeywords, MaxSearchRadiusKM, MinimumAvailableQuantity, MaximumAvailableQuantity, PreferredSupplyType, PreferredUnitOfMeasures, PreferredValidFrom, PreferredValidTo, UserId)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """

    # Iterate through each row in the DataFrame
    for _, row in grouped.iterrows():

        # Execute the query with values
        cursor.execute(insert_query, (
            row["Preference_Id"],
            row["CategoryList"],
            row["Keywords"],
            str(random.randint(10, 100)),
            row["Minimum Quantity"],
            row["Maximum Quantity"],
            row["Supply Type"],
            row["Unit of Measure"],
            row["Valid From"],
            row["Valid To"],
            row["user_Id"],




        ))

    # Commit the transaction
    conn.commit()
    print(f"{cursor.rowcount} rows inserted successfully.")

except mariadb.Error as e:
    print(f"Error: {e}")

finally:
    # Close the connection
    if conn:
        cursor.close()
        conn.close()

user_Id column added successfully.
0 rows inserted successfully.

C:\Users\bende\AppData\Local\Temp\ipykernel_63880\2776275614.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataMergedWant["CategoryList2"] = dataMerged[["Category 1", "Category 2", "Category 3"]].apply(lambda row: list(row), axis=1)

In [4]:
# Imports 
import pandas as pd
import mariadb
import uuid
import json
import random
dataMerged = pd.read_excel('C:\dev\Jaar4\Periode2\CapstoneProject\AI\DATA_MERGED.xlsx')

db_config = {
    "user": "root",
    "password": "None58-DB",
    "host": "localhost",
    "port": 3306,
    "database": "SymbioDb"
}

# Check if 'user_Id' column exists in the DataFrame
if "user_Id" not in dataMerged.columns:
    try:
        # Connect to MariaDB
        conn = mariadb.connect(**db_config)
        cursor = conn.cursor()

        # Query to retrieve Id and email from aspnetusers
        query = "SELECT Id, email FROM aspnetusers"
        cursor.execute(query)

        # Fetch results and create a DataFrame
        aspnetusers_data = cursor.fetchall()
        aspnetusers_df = pd.DataFrame(aspnetusers_data, columns=["user_Id", "email"])


        # Merge aspnetusers DataFrame with dataMerged on the email column
        dataMerged = pd.merge(aspnetusers_df, dataMerged, on="email", how="left")

        print("user_Id column added successfully.")
    except mariadb.Error as e:
        print(f"Error: {e}")

    finally:
        if conn:
            cursor.close()
            conn.close()
else:
    print("The 'user_Id' column already exists in the DataFrame.")

    
dataMerged["Keywords"] = dataMerged["Keywords"].fillna("")
dataMergedWant = dataMerged[dataMerged["Resource Type"] == "Want"]


random.seed(42)

# dataMergedWant["CategoryList2"] = dataMerged[["Category 1", "Category 2", "Category 3"]].apply(lambda row: list(row), axis=1)
# dataMerged["CategoryList"] = dataMerged["CategoryList"].apply(json.dumps)


# Group by 'user_Id' and apply aggregation
grouped = dataMergedWant.groupby("user_Id").agg({
    "Category 1": lambda x: ", ".join(set(x)),  # Flatten and deduplicate, then CSV
    "Category 2": lambda x: ", ".join(set(x)),  # Flatten and deduplicate, then CSV
    "Category 3": lambda x: ", ".join(set(x)),  # Flatten and deduplicate, then CSV
    "Keywords": lambda x: ", ".join(set(x)),  # Flatten and deduplicate, then CSV
    "Unit of Measure": lambda x: ", ".join(set(x)),  # Flatten and deduplicate, then CSV
    "Supply Type": lambda x: ", ".join(set(x)),  # Deduplicate and convert to CSV
    "Available Quantity": ["min", "max"],  # Minimum and maximum quantity
    "Valid From": "min",  # Smallest date value
    "Valid To": "max",  # Largest date value
    "Site Name": "first",  # Use the first occurrence of the Site Name
}).reset_index()

# Flatten column names for "Available Quantity"
grouped.columns = ["_".join(col).strip("_") if isinstance(col, tuple) else col for col in grouped.columns]

# Rename columns for clarity
grouped.rename(columns={
    "Available Quantity_min": "Minimum Quantity",
    "Available Quantity_max": "Maximum Quantity",
    "Supply Type_<lambda>": "Supply Type",
    "Keywords_<lambda>": "Keywords",
    "CategoryList2_<lambda>": "CategoryList",
    "Valid From_min": "Valid From",
    "Valid To_max": "Valid To",
    "Site Name_first" : "Site Name",
    "Unit of Measure_<lambda>" : "Unit of Measure",
    "Category 1_<lambda>": "Category 1",
    "Category 2_<lambda>": "Category 2",
    "Category 3_<lambda>": "Category 3",

}, inplace=True)

grouped['Preference_Id'] = [str(uuid.uuid4()) for _ in range(len(grouped))]



# Sort by site name to ensure same value for max distance is given 
random.seed(42)
grouped = grouped.sort_values(by="Site Name")

grouped.head()

<>:7: SyntaxWarning: invalid escape sequence '\d'
<>:7: SyntaxWarning: invalid escape sequence '\d'
C:\Users\bende\AppData\Local\Temp\ipykernel_117428\4152989216.py:7: SyntaxWarning: invalid escape sequence '\d'
  dataMerged = pd.read_excel('C:\dev\Jaar4\Periode2\CapstoneProject\AI\DATA_MERGED.xlsx')

user_Id column added successfully.

,user_Id,Category 1,Category 2,Category 3,Keywords,Unit of Measure,Supply Type,Minimum Quantity,Maximum Quantity,Valid From,Valid To,Site Name,Preference_Id
48,4f627d9c-2148-444c-9fed-08be27723013,"Capacity, Energy, Inorganics, Wood, Food & Agr...","Green Waste, Laboratories, Gases, Processed Wo...","Other Food Sludges & Wastes, Unspecified, Carb...",", Lelystad, MDF, diverse fracties, snijafval, ...","Kilograms, Hours, Litres, CubicMetres, MW, Tonnes","Batch, Continuous",5.0,600000.0,2019-06-14,2024-06-17,4evergreen - Steenbergen - Head office,00e8a67b-1ac8-4472-b326-316f736288ac
106,c4bef250-ec27-4ccd-9873-02afa91cc500,"Expertise, Capacity, Energy, Water, Logistics,...","Prepared Food Waste, Commercial, Green Waste, ...","Other Food Sludges & Wastes, Unspecified, Biog...",", laagwaardige restwarmte","Number, CubicMetres, MW, Tonnes","Batch, Continuous",15.0,1000000.0,2018-11-26,2023-11-28,Aben Green Energy - Westdorpe - Head office,875ca353-189c-423a-a549-128aa82a95d0
116,d6b64e10-1eb0-4a30-a4a3-37265915e6d8,"Expertise, Capacity, Energy, Water, Wood","Product, Storage, Logistics, Drainage Water, M...","Steam, Other Logistics Management, Industrial ...",", onbekende hoeveelheid continu 24/7, Proceswa...","Number, CubicMetres, MW",Continuous,15.0,99.0,2019-11-08,2024-11-15,Agristo - Tilburg - HO,b690ba98-5b58-4e78-b332-830675329b85
70,6bc2d35e-cba2-4c34-8441-f589797b5f5f,"Inorganics, Food & Agriculture, Water","Compost, Peat Etc, Unspecified, Nitrogen Compo...","Other Nitrogen Compounds, Compost, Unspecified",,"Kilograms, CubicMetres, Tonnes","Continuous, Batch",99.0,50000.0,2021-04-16,2026-04-16,Arie Bouman Tuinplanten,f491288e-fc0a-4702-aff8-a56cce2fb0d1
55,596ebd92-2ce3-490c-98d4-195d482267c3,Energy,Heat,Unspecified,,MW,Batch,99.0,99.0,2023-07-20,2028-07-20,Atlas Power and Gas,6a221020-c3b3-41d8-a1f4-f03a27e68384